@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@900&display=swap');

html {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  height: 100vh;
  background: url('./images/backgroundLP.svg');
  background-color: #fefefe;
  background-size: 100%;
  color: black;
  padding-top: 9em;
  margin-bottom: 0;
}


.jumbotron .display-4 {
  color: #0F8345;
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.5;
}

.navbar {
  font-weight: bold;
  padding: 2em;
  background-color: transparent;
}

.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.img-cesta {
  max-height: 78vh;
}

#register {
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 1em 3em;
}

.logo {
  height: 3.5em;
}

@media only screen and (max-width: 830px) {
  .logo {
    height: 2em;
  }

  .navbar {
    padding: 1em 2em;
  }

  .jumbotron {
    background-size: 200%;
    min-height: 56vh;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    padding-bottom: 0rem;
  }

  .jumbotron .display-4 {
    font-size: 1.5rem;
  }

  .text-box {
    background-color: #f4f5c9;
  }

  .img-cesta {
    max-height: 35vh;
  }
}